{% extends "layout.html" %}
{% block body %}

  <div class="row" style="padding-top: 10%">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/add_paciente/" method="POST">

            <div class="form-group">
            <input type="text" name="ID" value="ID" class="form-control">
          </div>

          <div class="form-group">
            <input type="text" name="Nombre" value="Nombre Completo Paciente" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="PREVENTIX" value="Resultado PREVENTIX" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="RESULTADO_NUMERICO_PREVENTIX" value="Resultado númerico PREVENTIX" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_PCR_VPH" value="Resultado PCR VPH" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="RESULTADO_NUMERICO_VPH" value="Resultado númerico VPH" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_Papanicolaou" value="Resultado Papanicolaou" class="form-control">
          </div>

          <div class="form-group">
            <input type="text" name="RESULTADO_NUMERICO_PAP" value="Resultado númerico Papanicolaou" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_de_colposcopio" value="Resultado Colposcopia de Cervix" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="resultado_numerico_colposcopia" value="Resultado Númerico Colposcopia" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_biopsia_de_cervix" value="Resultado de Biopsia" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_num_biopsia" value="Resultado númerico Biopsia" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
