{% extends "layout.html" %} {% block body %} <div class="row w-100" style="padding-top: 10%">
  <div class="col w-100">

    <button id="toggleButton">Mostrar/Ocultar Nomenglatura</button>
  <button id="toggleButton2">Calcular Preventix Pto. Corte</button>
    <div class="container centered" id="container" style="display: none;">
      <table class="fl-table">
          <thead>
        <tr style="background-color: darkblue; color: white; font-weight: bold">
            <td style="color: white">100</td>
            <td style="color: white">101</td>
            <td style="color: white">102</td>
        </tr>
    <tbody>
    <td>NEGATIVO</td>
    <td>POSITIVO</td>
    <td>NO SE REALIZÓ</td>
    </tbody>

    </thead>
      </table>
        <table class="fl-table">
  <thead>
    <tr style="background-color: darkblue; color: white; font-weight: bold">
      <th>Diagnóstico</th>
      <th>#</th>
      <th>+/-</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>NEGATIVO</td>
      <td>0</td>
      <td>-</td>
    </tr>
    <tr>
      <td>POSITIVO</td>
      <td>1</td>
      <td>+</td>
    </tr>
  </tbody>
</table>


        <table class="fl-table">
  <thead>
    <tr style="background-color: darkblue; color: white; font-weight: bold">
      <th>Diagnóstico</th>
      <th>#</th>
      <th>+/-</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>POSITIVO</td>
      <td>2</td>
      <td>+</td>
    </tr>
    <tr>
      <td>NEGATIVO</td>
      <td>3</td>
      <td>-</td>
    </tr>
    <tr>
      <td>SEROTIPO 16</td>
      <td>4</td>
      <td>+</td>
    </tr>
    <tr>
      <td>SEROTIPO 18</td>
      <td>5</td>
      <td>+</td>
    </tr>
    <tr>
      <td>POL DE 13</td>
      <td>6</td>
      <td>+</td>
    </tr>
  </tbody>
</table>

        <table class="fl-table">
  <thead>
    <tr style="background-color: darkblue; color: white; font-weight: bold">
      <th>Diagnóstico</th>
      <th>#</th>
      <th>+/-</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>POSITIVA</td>
      <td>7</td>
      <td>+</td>
    </tr>
    <tr>
      <td>NEGATIVA</td>
      <td>8</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ALTERACIONES CELULARES INFLAMATORIAS LEVES</td>
      <td>9</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ALTERACIONES CELULARES INFLAMATORIAS MODERADAS</td>
      <td>10</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ALTERACIONES CELULARES INFLAMATORIAS SEVERAS</td>
      <td>11</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ALTERACIONES INFLAMATORIAS SECUNDARIAS A RADIACION</td>
      <td>12</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ALTERACIONES INFLAMATORIAS SECUNDARIAS A DIU</td>
      <td>13</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ATROFIA CELULAR</td>
      <td>14</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ASCUS</td>
      <td>15</td>
      <td>+</td>
    </tr>
    <tr>
      <td>ASC-H</td>
      <td>16</td>
      <td>+</td>
    </tr>
    <tr>
      <td>CAMBIOS CELULARES SUJESTIVOS A VPH</td>
      <td>17</td>
      <td>+</td>
    </tr>
    <tr>
      <td>LESION DE BAJO GRADO</td>
      <td>18</td>
      <td>+</td>
    </tr>
    <tr>
      <td>LESION DE ALTO GRADO</td>
      <td>19</td>
      <td>+</td>
    </tr>
    <tr>
      <td>CARCINOMA DE CELULAS ESCAMOSAS</td>
      <td>20</td>
      <td>+</td>
    </tr>
    <tr>
      <td>CELULAS ENDOMETRIALES BENIGNAS POST MENOPAUSIA</td>
      <td>21</td>
      <td>+</td>
    </tr>
    <tr>
      <td>AGUS</td>
      <td>22</td>
      <td>+</td>
    </tr>
    <tr>
      <td>ADENOCARCINOMA DE ORIGEN ENDOCERVICAL</td>
      <td>23</td>
      <td>+</td>
    </tr>
    <tr>
      <td>ADENOCARCINOMA DE ORIGEN ENDOMETRIAL</td>
      <td>24</td>
      <td>+</td>
    </tr>
    <tr>
      <td>ADENOCARCINOMA DE ORIGEN NO DEFINIDO</td>
      <td>25</td>
      <td>+</td>
    </tr>
  </tbody>
</table>
<table class="fl-table">
  <thead>
    <tr style="background-color: darkblue; color: white; font-weight: bold">
      <th>Diagnóstico</th>
      <th>#</th>
      <th>+/-</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SIN ALTERACIONES</td>
      <td>26</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ALTERACIONES INFLAMATORIAS</td>
      <td>27</td>
      <td>+</td>
    </tr>
    <tr>
      <td>LIBG</td>
      <td>28</td>
      <td>+</td>
    </tr>
    <tr>
      <td>LIAG</td>
      <td>29</td>
      <td>+</td>
    </tr>
    <tr>
      <td>POLIPO CERVICAL</td>
      <td>30</td>
      <td>-</td>
    </tr>
    <tr>
      <td>METAPLASIA ESCAMOSA</td>
      <td>31</td>
      <td>+</td>
    </tr>
    <tr>
      <td>ATROFIA SEVERA</td>
      <td>32</td>
      <td>-</td>
    </tr>
    <tr>
      <td>CONDILOMATOSIS</td>
      <td>33</td>
      <td>+</td>
    </tr>
    <tr>
      <td>PROBABLE LÍQUEN ESCLEROSO</td>
      <td>34</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ATROFIA VAGINAL</td>
      <td>35</td>
      <td>-</td>
    </tr>
    <tr>
      <td>QUISTE DE NABOTH</td>
      <td>36</td>
      <td>-</td>
    </tr>
    <tr>
      <td>EVERSION GLANDULAR</td>
      <td>37</td>
      <td>-</td>
    </tr>
    <tr>
      <td>CERVICOVAGINITIS</td>
      <td>38</td>
      <td>-</td>
    </tr>
    <tr>
      <td>MOLUSCO CONTAGIOSO</td>
      <td>39</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
<table class="fl-table">
  <thead>
    <tr style="background-color: darkblue; color: white; font-weight: bold">
      <th>Diagnóstico</th>
      <th>#</th>
      <th>+/-</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>NEGATIVO A MALIGNIDAD</td>
      <td>40</td>
      <td>-</td>
    </tr>
    <tr>
      <td>LIBG (DISPLASIA LEVE)</td>
      <td>41</td>
      <td>+</td>
    </tr>
    <tr>
      <td>LIAG (DISPLASIA MODERADA)</td>
      <td>42</td>
      <td>+</td>
    </tr>
    <tr>
      <td>FRAGMENTO DE EJIDO ENDOCERVICAL CON INFLAMACION</td>
      <td>43</td>
      <td>-</td>
    </tr>
    <tr>
      <td>CERVICITIS CRONICA</td>
      <td>44</td>
      <td>-</td>
    </tr>
    <tr>
      <td>EPITELIO ENDOCERVICAL CON METAPLASIA ESCAMOSA</td>
      <td>45</td>
      <td>+</td>
    </tr>
    <tr>
      <td>NO SE REALIZO</td>
      <td>46</td>
      <td>-</td>
    </tr>
    <tr>
      <td>PROCESO INFLAMATORIO AGUDO</td>
      <td>47</td>
      <td>-</td>
    </tr>
    <tr>
      <td>LESION ESCAMOSA</td>
      <td>48</td>
      <td>+</td>
    </tr>
    <tr>
      <td>ENDOCERVICITIS AGUDA</td>
      <td>49</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ATROFIA</td>
      <td>50</td>
      <td>-</td>
    </tr>
  </tbody>
</table>



  </div>
  <div id="formcorte" style="display: none;">
    <form action="/actualizar_resultados_numericosptc" method="POST">
    <label for="valorWestern">WesternBlot:</label>
    <input type="number" step="0.01" name="valorWestern" id="valorWestern" required><br><br>

    <label for="valorElisas">Elisas:</label>
    <input type="number" step="0.01" name="valorElisas" id="valorElisas" required><br><br>

    <input type="submit" value="Actualizar Resultados">
</form>
</div>
    <table class="fl-table" style="padding-top: 50%">
      <h1 style="text-align: center; color: white">Pacientes </h1>
    <a href="/export_excelCompleto" class="btn btn-secondary" style=" position: center">Exportar a Excel</a>
    <a href="/actualizar_resultados" class="btn btn-secondary" style=" position: center">Actualizar Preventix p. corte</a>

      <thead>
        <tr style="background-color: darkblue; color: white; font-weight: bold">

            <td style="color: white">ID</td>
            <td style="color: white">Nombre</td>
            <td style="color: white">PREVENTIX</td>
            <td style="color: white">Resultado Númerico PREVENTIX</td>
            <td style="color: white">Resultado PCR VPH</td>
            <td style="color: white">Resultado Númerico VPH</td>
            <td style="color: white">Resultado Citología</td>
            <td style="color: white">Resultado Númerico Citología</td>
            <td style="color: white">Resultado de Colposcopio</td>
            <td style="color: white"v>Resultado Númerico Colposcopia</td>
            <td style="color: white">Resultado Biopsia</td>
            <td style="color: white">Resultado Númerico Biopsia</td>
            <td style="color: white">Western Blot</td>
            <td style="color: white">ELisas</td>
        </tr>
      </thead>
      <tbody> {% for paciente in pacientesTotales %} <tr>

            <td>{{ paciente.ID }}</td>
            <td>{{ paciente.Nombre }}</td>
            <td>{{ paciente.PREVENTIX }}</td>
            <td>{{ paciente.RESULTADO_NUMERICO_PREVENTIX }}</td>
            <td>{{ paciente.Resultado_PCR_VPH }}</td>
            <td>{{ paciente.RESULTADO_NUMERICO_VPH }}</td>
            <td>{{ paciente.Resultado_Papanicolaou }}</td>
            <td>{{ paciente.RESULTADO_NUMERICO_PAP }}</td>
            <td>{{ paciente.Resultado_de_colposcopio }}</td>
            <td>{{ paciente.resultado_numerico_colposcopia }}</td>
            <td>{{ paciente.Resultado_biopsia_de_cervix }}</td>
            <td>{{ paciente.Resultado_num_biopsia }}</td>
            <td>{{ paciente.WesternBlot }}</td>
            <td>{{ paciente.Elisas }}</td>
            <td>
            <a href="/edit/{{paciente.ID}}" class="btn btn-secondary">Editar</a>
            <a href="/delete/{{paciente.ID}}" class="btn btn-danger btn-delete">Borrar</a>
            </td>
        </tr> {% endfor %} </tbody>
    </table>




  </div>
</div>
<script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleButton = document.getElementById("toggleButton");
            const container = document.getElementById("container");

            toggleButton.addEventListener("click", function() {
                if (container.style.display === "none" || container.style.display === "") {
                    container.style.display = "block";
                } else {
                    container.style.display = "none";
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleButton2 = document.getElementById("toggleButton2");
            const container = document.getElementById("formcorte");

            toggleButton2.addEventListener("click", function() {
                if (container.style.display === "none" || container.style.display === "") {
                    container.style.display = "block";
                } else {
                    container.style.display = "none";
                }
            });
        });
    </script>
{% endblock %}