{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{patient.id}}" method="POST">
          <div class="form-group">
            <input type="text" name="IDBD" value="{{patient.ID}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Nombre" value="{{patient.Nombre}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="PREVENTIX" value="{{patient.PREVENTIX}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="RESULTADO_NUMERICO_PREVENTIX" value="{{patient.RESULTADO_NUMERICO_PREVENTIX}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_PCR_VPH" value="{{patient.Resultado_PCR_VPH}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="RESULTADO_NUMERICO_VPH" value="{{patient.RESULTADO_NUMERICO_VPH}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_Papanicolaou" value="{{patient.Resultado_Papanicolaou}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="ID" value="{{patient.ID}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="RESULTADO_NUMERICO_PAP" value="{{patient.RESULTADO_NUMERICO_PAP}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_de_colposcopio" value="{{patient.Resultado_de_colposcopio}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="resultado_numerico_colposcopia" value="{{patient.resultado_numerico_colposcopia}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_biopsia_de_cervix" value="{{patient.Resultado_biopsia_de_cervix}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Resultado_num_biopsia" value="{{patient.Resultado_num_biopsia}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
